extend ../base

block content
        form(action="", method="post")
                input(type="text", name="title", placeholder="Enter form title")    
                br       
                //- input(type="text", name="questions[0].title")
                //- br
                //- input(type="text", name="questions[1].title")
                //- br           
                input(type="submit", value="Save")